<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>Clickcraft Tools</title>
    <link rel="icon" href="assets/img/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>

	<div id="app">
		<div id="navbar">
			<button @click="tab = 0">Items</button>
			<button @click="tab = 1">Merchants</button>
			<button @click="tab = 2">Enemies</button>
		</div>

		<h2>{{ tabname }}</h2>
		<div id="creation-window">
			<div v-if="tab == 0" class="item-icon" style="z-index: 1; width: 65px; height: 65px; margin: -4px; background-image: url(https://wow.zamimg.com/images/Icon/large/border/default.png)"></div>
			<div v-if="tab == 0" class="item-icon" :style="'background-image: url(https://wow.zamimg.com/images/wow/icons/large/'+itemIcon(itemCreation)+'.jpg'"></div> <!--Put the WoW folder "icons" yourself, it is about ~160Mo-->
			<div v-if="tab == 0" class="item-tooltip-placeholder">
				<div class="item-tooltip">
					<p :style="'color:'+getQualityColor">{{ itemCreation.name }}</p>
					<p v-if="itemCreation.unique != null">{{ tooltipItemUniqueType }}</p>
					<div v-if="itemCreation.equipable"><p>{{ itemCreation.slotType.subtype }}</p><p>{{ tooltipItemWeaponType }}</p></div>
					<p v-if="itemCreation.slotType.type == 'weapon'">{{ itemCreation.baseMinDamage }} - {{ itemCreation.baseMaxDamage }} Damage</p>
					<p v-if="itemCreation.slotType.type == 'weapon' && itemCreation.slotType.subtype !== 'Off Hand'">({{ (itemCreation.baseMinDamage + itemCreation.baseMaxDamage) / 2 }} Damage per click)</p>
					<p v-if="itemCreation.slotType.type == 'weapon' && itemCreation.slotType.subtype === 'Off Hand'">({{ ((itemCreation.baseMinDamage + itemCreation.baseMaxDamage) / 2)/2 }} Damage per click)</p>
					<p v-if="itemCreation.stats.strength != undefined">+ {{itemCreation.stats.strength}} Strength</p>
					<p v-if="itemCreation.stats.agility != undefined">+ {{itemCreation.stats.agility}} Agility</p>
					<p v-if="itemCreation.stats.intelligence != undefined">+ {{itemCreation.stats.intelligence}} Intelligence</p>
					<p v-if="itemCreation.stats.stamina != undefined">+ {{itemCreation.stats.stamina}} Stamina</p>
					<p v-if="itemCreation.stats.luck != undefined" style="color: #0f0">+ {{itemCreation.stats.luck}} Luck</p>
					<p v-if="itemCreation.requiredLevel != null" style="color: #fff">Requires Level {{ itemCreation.requiredLevel }}</p>
					<p v-if="itemCreation.effectDescription != null" style="color: #0f0">{{ itemCreation.effectDescription }}</p>
					<p v-if="itemCreation.quote != null" style="color: #ffd100">"{{ itemCreation.quote }}"</p>
					<p v-if="itemCreation.material" style="color: #68b7f2">Crafting Reagent</p>	
				</div>
			</div>
			<div id="item-creation" v-if="tab == 0">
				<span>
					<p>ID:</p>
					<input type="number" v-model="itemCreation.id">
				</span>
				<span>
					<p>Name:</p>
					<input type="text" v-model="itemCreation.name">
				</span>
				<span>
					<p>Icon:</p>
					<input type="text" v-model="itemCreation.icon">
				</span>
				<span>
					<p>Quality:</p>
					<select :style="'color:'+getQualityColor" v-model="itemCreation.quality">
						<option class="quality-poor" :value="0">Poor</option>
						<option class="quality-common" :value="1">Common</option>
						<option class="quality-uncommon" :value="2">Uncommon</option>
						<option class="quality-rare":value="3">Rare</option>
						<option class="quality-epic" :value="4">Epic</option>
						<option class="quality-legendary" :value="5">Legendary</option>
						<option class="quality-artifact" :value="6">Artifact</option>
						<option class="quality-heirloom" :value="7">Heirloom</option>
					</select>
				</span>
				<span>
					<p>Unique:</p>
					<select v-model="itemCreation.unique">
						<option :value="0">Not unique</option>
						<option :value="1">Unique</option>
						<option :value="2">Unique-Equipped</option>
					</select>
				</span>
				<span>
					<p>Equipable:</p>
					<div @click="itemEquipable()" class="ui-checkbox" :style="equipableCheckbox" style="margin-bottom: 6px"></div>
					<select v-if="itemCreation.equipable" v-model="itemCreation.slotType.type">
						<option value="weapon">Weapon</option>
						<option value="trinket">Trinket</option>
					</select>
					<select v-if="itemCreation.equipable && itemCreation.slotType.type === 'weapon'" v-model="itemCreation.slotType.name">
							<option :value="0">Sword</option>
							<option :value="1">Axe</option>
							<option :value="2">Mace</option>
							<option :value="3">Dagger</option>
							<option :value="4">Polearm</option>
							<option :value="5">Fist Weapon</option>
							<option :value="6">Staff</option>
							<option :value="7">Bow</option>
							<option :value="8">Crossbow</option>
							<option :value="9">Gun</option>
							<option :value="20">Shield</option>
					</select>
					<select v-if="itemCreation.equipable" v-model="itemCreation.slotType.subtype">
						<option v-if="itemCreation.slotType.type === 'weapon'" value="One-Hand">One-Hand</option>
						<option v-if="itemCreation.slotType.type === 'weapon'" value="Two-Hand">Two-Hand</option>
						<option v-if="itemCreation.slotType.type === 'weapon'" value="Main Hand">Main Hand</option>
						<option v-if="itemCreation.slotType.type === 'weapon'" value="Off Hand">Off Hand</option>
	
						<option v-if="itemCreation.slotType.type === 'trinket'" value="Neck">Neck</option>
						<option v-if="itemCreation.slotType.type === 'trinket'" value="Ring">Ring</option>
						<option v-if="itemCreation.slotType.type === 'trinket'" value="Trinket">Trinket</option>
					</select>
				</span>
				<span v-if="itemCreation.equipable">
					<p>Required level:</p>
					<span style="display: flex; flex-direction: row; align-items: start;">
						<div @click="itemLevelRequired()" class="ui-checkbox" :style="itemRequiredLevelCheckbox"></div>
						<input v-if="itemCreation.requiredLevel != undefined" type="number" v-model="itemCreation.requiredLevel" style="position: relative; width: 40px; top: 1px; margin-left: 6px" min="2" max="60">
					</span>
				</span>
				<span v-if="itemCreation.slotType.type === 'weapon'">
					<p>Damages:</p>
					<span class="inline-flex-column-center">
						<input type="number" v-model="itemCreation.baseMinDamage" style="width: 65px;" min="0">
						<input type="range" class="custom-range" min="0" max="400" v-model="itemCreation.baseMinDamage">
					</span>
					-
					<span class="inline-flex-column-center">
						<input type="number" v-model="itemCreation.baseMaxDamage" style="width: 65px;" min="1">
						<input type="range" class="custom-range" min="1" max="400" v-model="itemCreation.baseMaxDamage">
					</span>
				</span>
				<span v-if="itemCreation.equipable">
					<p>Stats:</p>
					<span>
						Strength:
						<input type="number" v-model="itemCreation.stats.strength" style="width: 55px;" min="0">
					</span>
					<span>
						Agility:
						<input type="number" v-model="itemCreation.stats.agility" style="width: 55px;" min="0">
					</span>
					<span>
						Intelligence:
						<input type="number" v-model="itemCreation.stats.intelligence" style="width: 55px;" min="0">
					</span>
					<span>
						Stamina:
						<input type="number" v-model="itemCreation.stats.stamina" style="width: 55px;" min="0">
					</span>
					<span>
						Luck:
						<input type="number" v-model="itemCreation.stats.luck" style="width: 55px;" min="0">
					</span>
				</span>
				<span v-if="itemCreation.equipable !== true">
					<p>Stackable:</p>
					<span style="display: flex; flex-direction: row; align-items: start;">
						<div @click="itemStackable()" class="ui-checkbox" :style="itemStackableCheckbox"></div>
						<input v-if="itemCreation.stackMaxSize != undefined" type="number" v-model="itemCreation.stackMaxSize" style="position: relative; width: 50px; top: 1px; margin-left: 6px" min="2" max="60">
					</span>
				</span>
				<span>
					<p>Effect description:</p>
					<input type="text" v-model="itemCreation.effectDescription" style="width: 400px;">
				</span>
				<span>
					<p>Quote:</p>
					<input type="text" v-model="itemCreation.quote" style="width: 400px;">
				</span>
				<span>
					<p>Material:</p>
					<div @click="itemIsAMaterial()" class="ui-checkbox" :style="itemMaterialCheckbox"></div>
				</span>
				<span>
					<p>Salable:</p>
					<div @click="itemSalable()" class="ui-checkbox" :style="itemSalableCheckbox"></div>
				</span>
			</div>
		
			<button @click="reset(tab)">reset</button>
		</div>

		<div id="generated-result">
			<code v-if="tab == 0">
{{printItem + ','}}
			</code>
		</div>

	</div>

	<script src="js/script.js"></script>
</body>