<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>Clickcraft Tools</title>
    <link rel="icon" href="assets/img/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>

	<div id="app">
		<div id="navbar">
			<button @click="tab = 0">Items</button>
			<button @click="tab = 1">Merchants</button>
			<button @click="tab = 2">Enemies</button>
		</div>

		<h2>{{ tabname }}</h2>
		<div id="creation-window">

			<div id="item-creation" v-if="tab == 0">
				<input type="number" v-model="itemCreation.id">
				<input type="text" v-model="itemCreation.name">
				<input type="checkbox" v-model="itemCreation.equipable">
				<select v-if="itemCreation.equipable">
					<option value="">--Please choose an option--</option>
					<option value="dog">Dog</option>
					<option value="cat">Cat</option>
					<option value="hamster">Hamster</option>
					<option value="parrot">Parrot</option>
					<option value="spider">Spider</option>
					<option value="goldfish">Goldfish</option>
				</select>
			
			</div>
		
			<button @click="reset(tab)">reset</button>
		</div>

		<div id="generated-result">
			<code v-html="printItem">
</code>
		</div>

	</div>

	<script src="js/script.js"></script>
</body>